.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.home-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #00285f;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 60px 30px 50px;
}
.home-card-image-container img {
  width: 244px;
  height: 146px;
}

.home-content-container h1 {
  width: 280px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 35px;
}
.home-content-container p {
  width: 280px;
  font-size: 0.7em;
  margin-top: 13px;
}
.home-card-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ededed;
}
.home-card-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 0;
}
.home-card-button p {
  width: 200px;
  font-size: 0.8em;
  color: #585858;
  margin-top: 10px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 15px;
    font-size: 30px;
  }
  .home-content-container {
    padding: 20px 100px 40px;
  }
  .home-card-image-container img {
    width: 333px;
    height: 199px;
  }
  .home-content-container h1 {
    width: 420px;
    margin-top: 20px;
  }
  .home-content-container p {
    width: 420px;
    font-size: 0.6em;
    margin-top: 0;
  }
  .home-card-button-content {
    flex-direction: row;
    padding: 40px 60px 40px;
  }
  .home-card-button-content p {
    width: 220px;
    font-size: 0.6em;
    margin-left: 15px;
  }
}
