.main-nav {
  min-height: 70px;
  padding-left: 20px;
}
.nav-logo-text {
  font-weight: bold;
}
.main-menu {
  display: flex;
}
.main-menu a.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-nav ul li {
    margin-left: 50px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    padding: 0 150px;
  }
}
