.main-nav {
    display: flex;
    min-height: 70px;
    align-items: center;
}
.main-nav h4 {
    font-weight: bold;
}

@media(min-width:768px) {
    .main-nav ul li {
        margin-left: 48px;
    }
}