.main-nav {
  display: flex;
  min-height: 70px;
}
.nav-logo-text {
  font-weight: bold;
}
.main-menu a.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-nav ul li {
    margin-left: 50px;
  }
}
@media (min-width: 1200px) {
  .main-nav h4 {
    margin-left: 150px;
  }
  .main-menu {
    margin-right: 150px;
  }
}
