.product-card {
  margin-bottom: 20px;
}
.card-top-container {
  padding: 15px 35px 0 40px;
  text-align: center;
}
.card-top-container img {
  width: 220px;
  height: 165px;
}
.card-bottom-container {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 15px 20px;
  text-align: center;
  align-items: center;
}
.card-bottom-container h1 {
  font-size: 18px;
  color: black;
}
.card-bottom-container p {
  font-size: 12px;
  font-style: italic;
  color: #585858;
  width: 260px;
  text-align: left;
  margin-top: 15px;
}
.card-bottom-container button {
  margin-top: 30px;
  width: 260px;
  height: 40px;
}
@media (min-width: 576px) {
  .card-top-container {
    padding: 0 20px;
  }
  .card-top-container img {
    width: 100%;
  }
  .card-bottom-container {
    padding: 10px 20px 20px;
  }
  .card-bottom-container p {
    width: 220px;
    margin-top: 18px;
    font-size: 11px;
  }
  .card-bottom-container button {
    width: 220px;
  }
}
@media (min-width: 768px) {
  .card-top-container {
    padding: 15px 65px 0;
  }
  .card-bottom-container {
    padding: 10px 20px 15px;
  }
  .card-bottom-container p {
    width: 300px;
    font-size: 14px;
  }
  .card-bottom-container button {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .card-top-container {
    padding: 15px 40px 0;
  }
  .card-bottom-container p {
    width: 270px;
  }
  .card-bottom-container button {
    width: 255px;
  }
}
@media (min-width: 1200px) {
  .product-card {
    width: 300px;
  }
  .card-bottom-container button {
    width: 266px;
  }
}
